__pycache__/
*.pyc
.pytest_cache/
*.egg-info/
cache/
MINING_REPORT.json
.optuna*
credential.txt
credentials.txt
*.brainrc
grind4.log
mine7.log
mine8.log
mine9.log
mine10.log
mine11.log
mine12.log
mine_robust.log
ROBUST_*.json
mine13.log
UNCOMMON_MINING13.json
mine14.log
UNCOMMON_MINING14.json
UNCOMMON_MINING12.json
mine15.log
UNCOMMON_MINING15.json
mine16.log
UNCOMMON_MINING16.json
mine16b.log
UNCOMMON_MINING16b.json
candidates16b.json
mine17.log
UNCOMMON_MINING17.json
mine18.log
UNCOMMON_MINING18.json
mine19.log
UNCOMMON_MINING19.json
mine20.log
UNCOMMON_MINING20.json
mine21.log
UNCOMMON_MINING21.json
mine22.log
UNCOMMON_MINING22.json
mine23.log
UNCOMMON_MINING23.json
mine24.log
UNCOMMON_MINING24.json
mine25.log
UNCOMMON_MINING25.json
mine26.log
UNCOMMON_MINING26.json
mine27.log
UNCOMMON_MINING27.json
mine28.log
UNCOMMON_MINING28.json
mine29.log
UNCOMMON_MINING29.json
mine30.log
UNCOMMON_MINING30.json
mine31.log
UNCOMMON_MINING31.json
mine32.log
UNCOMMON_MINING32.json
mine33.log
UNCOMMON_MINING33.json
mine34.log
UNCOMMON_MINING34.json
mine35.log
UNCOMMON_MINING35.json
mine36.log
UNCOMMON_MINING36.json
mine37.log
UNCOMMON_MINING37.json
